/* Our Team CSS Part */
.our-team{
  display: flex;
  flex-direction:column;
  /* justify-content: center; */
  align-items: center;
  margin: 5px;
}
.our-team h1{
  font-size: 2.5em;
  color: #015fb1;
  border: 1px solid #4d954c ;
  border-radius: 4px;
  padding: 0px 6px;
  margin: 0px;
}

.overall-cordi-profile, .cordi-profile, .secy-profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-between; */
}
.cordi-profile{
  margin: 0px 100px;
}
.overall-coordinator h2, .co-ordinator h2, .secretary h2{
  color: #015fb1;
  border-radius: 1px;
  font-size: 2em;
}


/* Profile Component CSS Part */
.card{
  border: 1px #4d954c solid;
  border-radius: 4px;
  text-align: center;
  padding: 1em;
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 23.5em;
  transition: transfrom .2s;
  background-color: rgba(181, 204, 126, 0.466);
}
.card:hover {
  transform: scale(1.3);
}
.card h3{
  color: rgb(50,50,50);
  margin-bottom: 3px;
}
.card p{
  color: rgb(83,83,83);
  margin: 5px 0px;
}
.team-connect{
 display: flex;
 flex-direction: row;
 justify-content: center;
}
.card .pimg img{
  border: 1px solid #015fb1;
  border-radius: 12em;
  height: 15em;
}
.linkedin img{
  width: 2.5em;
}
.mail img {
  width: 2.38em;
}
.linkedin, .mail{
  margin: 2px;
  transition: transform .2s;
}
.linkedin:hover, .mail:hover{
  transform: scale(1.3);
}